<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Perlin noise</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div id='content'></div>
    <script type='text/javascript' src='/static/lib/js/perlin.js'></script>
    <script type='text/javascript' src='/static/lib/js/seedrandom.js'></script>
    <script type='text/javascript' src='/static/src/js/canvas.js'></script>
    <script type='text/javascript' src='/static/src/js/processing.js'></script>
    <script type='text/javascript' src='/static/src/js/continent/continent.js'></script>
    <script type='text/javascript' src='/static/src/js/continent/multicontinent.js'></script>
    <script type='text/javascript' src='/static/src/js/terrain.js'></script>
    <script type='text/jsx' src='/static/src/jsx/terrain.jsx'></script>
</body>
</html>
